model:
  name: bert4rec
  save_name: bert4rec_CE

  params:
    model_params:
      block_count: 2
      head_count: 2
      max_seq_len: 128
      hidden_size: 256
      dropout_rate: 0.1
      loss_type: CE # CE, BCE, SCE, CE_restricted
      loss_sample_count: Null
      n_buckets: 443
      bucket_size_x: 443
      bucket_size_y: 512
      mix_x: true
    training_params:
      embedding_dim: 256
      learning_rate: 0.001
      weight_decay: 0.00001
      batch_size: 32
      num_workers: 4
      patience: 4
      max_epochs: 20
      precision: null #default 32, 16-mixed, bf16-mixed
