[GENERAL]
fail-under=10

[TYPECHECK]
ignored-modules=pyspark.sql.functions,torch

[MESSAGES CONTROL]
disable=bad-continuation,anomalous-backslash-in-string, no-else-return

[FORMAT]
ignore-long-lines=^.*([А-Яа-я]|>{3}|\.{3}|\\{2}|https://).*$
max-line-length=79

[SIMILARITIES]
min-similarity-lines=15
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
