[GENERAL]
fail-under=10

[TYPECHECK]
ignored-modules=pyspark.sql.functions,pyspark,torch,ignite

[MESSAGES CONTROL]
disable=bad-continuation,anomalous-backslash-in-string

[FORMAT]
ignore-long-lines=^.*([А-Яа-я]|>{3}|\.{3}|\\{2}|https://).*$
max-line-length=79

[SIMILARITIES]
min-similarity-lines=33
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
