name: Build Docs

# Controls when the workflow will run
on:
  # Triggers the workflow on push and pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main, refactoring]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Install full package
        run: |
          pip install --upgrade pip wheel poetry==2.1.3 poetry-dynamic-versioning
          poetry cache clear PyPI --all
          ./poetry_wrapper.sh --experimental --generate
          eval $(poetry env activate)
          poetry sync --with dev
          pip install --upgrade onnx onnxscript openvino optuna hnswlib fixed-install-nmslib git+https://github.com/daviddavo/lightfm.git@f0eb500ead54ab65eb8e1b3890337a7223a35114
      - name: Build docs
        run: |
          eval $(poetry env activate)
          make -C docs clean html
