name: Publish to PyPI

on: 
  push:
    branches: [release]
    tags:
      - 'v*.*.*'

jobs:
  publish_experimental:
    runs-on: ubuntu-latest
    permissions:
        id-token: write
    environment:
        name: release
        url: https://pypi.org/p/replay-rec

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install experimental package
        run: |
          pip install --upgrade pip wheel poetry==2.1.3 poetry-dynamic-versioning --no-cache-dir
          ./poetry_wrapper.sh --experimental --generate
          eval $(poetry env activate)
          poetry cache clear PyPI --all
          poetry sync --no-cache

      - name: Build Experimental
        run: |
          export PACKAGE_SUFFIX=.preview
          poetry build

      - name: Publish Experimental
        uses: pypa/gh-action-pypi-publish@release/v1

  publish_production:
    runs-on: ubuntu-latest
    permissions:
        id-token: write
    environment:
        name: release
        url: https://pypi.org/p/replay-rec

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install production package
        run: |
          pip install --upgrade pip wheel poetry==2.1.3 poetry-dynamic-versioning --no-cache-dir
          ./poetry_wrapper.sh --generate
          eval $(poetry env activate)
          poetry cache clear PyPI --all
          poetry sync -E torch -E spark --no-cache

      - name: Build Production
        run: |
          poetry build

      - name: Publish Production
        uses: pypa/gh-action-pypi-publish@release/v1
